/* content.css */
.argument {
  background-color: lightskyblue;
  font-weight: bold;
  color: black;
  padding: 2px;
  border-radius: 3px;
}

.counterArgument {
  background-color: lightcoral;
  font-weight: bold;
  color: black;
  padding: 2px;
  border-radius: 3px;
}
